// main: ./style.less
@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500,700');
//@import url('modules/fonts/font-NotoSans.less');
@import url('modules/fonts/font-YuGothic.less');

/*=====================================================*
 * initialize
 *=====================================================*/

li {
	list-style: none;
}
.defs {
	display: none;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background: #777;
}
::-webkit-scrollbar-track {
	background: #fff;
}

/*=====================================================*
 * snippet
 *=====================================================*/

.fixed {
	position: fixed;
	//top: attr(data-top);
}

.container {
	max-width: 1200px;
	padding: 5em 2.5em 2.5em;
	margin: auto;
}

/*=====================================================*
 * Structure
 *=====================================================*/
html{
	font-size: 62.5%;
	font-weight: normal;
}
body {
	font-size: 1.5em;
	line-height: 1.5;
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Yu Gothic', YuGothic, Verdana, Meiryo, sans-serif;
	// font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Noto Sans Japanese', Verdana, Meiryo, sans-serif;
}

#wrapper {

}

#header {
	.container {
		display: flex;
		align-items: center;
	}
	.container.front {
		display: flex;
		padding-top: 150px;
		padding-bottom: 150px;
	}
	.title {
		font-size: 1.75em;
	}
	.h-items {
		flex-grow: 0;
	}
	.title.h-items {
		width: 20%;
	}
	.search.h-items {
		padding-left: 5em;
		flex-grow: 1;
	}
}

#main {
	padding-bottom: 2.5em;
	background: #f5f5f5;
	&.single {
		padding: 2.5em 0;
		background: #f5f5f5;
	}
	article {
		background: #fff;
		.entry-footer {
			margin: 2.5em 0;
		}
	}
}

#blanding {
	height: 100vh;
	background: #fff;
}

#footer {
	.copyright {
		text-align: center;
		padding: .5em 0;
	}
}


/*=====================================================*
 * List
 *=====================================================*/
.post-list {
	ul {
		padding-bottom: 2.5em;
	}
	.row {
		position: relative;
		padding: 0.5em 0;
		margin-bottom: 5px;
		text-align: center;
		a {
			font-size: 0.85em;
		}
	}
	.entry-container {
		position: relative;
		padding: 0 2.5em;
		//border-bottom: 1px solid #222;

		.entry-header::before,
		.entry-header::after,
		.entry-footer::before,
		.entry-footer::after {
			position: absolute;
			display: block;
			content: '';
			width: 0; height: 0;
			background: #222;

			transition-property: width, height, top, left;
			transition-duration: 150ms;
			transition-timing-function: ease-in;
		}

		.entry-header::before {
			height: 1px;
			top: 0; left: 50%;
		}
		.entry-header::after {
			height: 1px;
			bottom: 0; left: 50%;
		}
		.entry-footer::before {
			width: 1px;
			top: 50%; left: 0;
		}
		.entry-footer::after {
			width: 1px;
			top: 50%; right: 0;
		}

		&:hover {
			background: #fff;
			.entry-header::before,
			.entry-header::after {
				width: 100%;
				left: 0;
			}
			.entry-footer::before,
			.entry-footer::after {
				height: 100%;
				top: 0;
			}
		}
	}
	.entry-header {
		margin-bottom: 0.5em;
		a {
			display: block;
			padding: 1.25em 0 0.5em;
			&:hover {
				color: #555;
			}
		}
	}
	.entry-footer {
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
}

/*=====================================================*
 * single entry
 *=====================================================*/
.single {
	.entry-header {
		text-align: center;
	}
	.entry-footer {
		justify-content: center;
	}
}

/*=====================================================*
 * common entry
 *=====================================================*/

.entry-footer {
	display: flex;
	flex-wrap: wrap;
	& > * {
		padding-right: 1em;
		margin-bottom: 1.5em;
	}
	.entry-date {
		.elapsed-time {
			display: inline-block;
			margin-right: 1em;
			padding: 0.1em 0.5em;
			font-size: 0.8em;
			border: 1px solid #ccc;
		}
		.published {
			font-size: 0.9em;
		}
		.updated {
			position: relative;
			margin-right: 1em;
			padding: 0.4em 1em;
			color: #fff;
			font-size: 0.75em;
			background: #922;
			border-radius: 0.5em;
			&::after {
				content: 'up!';
				margin-left: 0.25em;
			}
			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 0.5em; left: 100%;
				width: 0; height: 0;
				border: 0.5em solid transparent;
				border-left-color: #922;
			}
		}
	}
	.post-taxonomies {
		.name {
			display: inline-block;
			margin-right: 1em;
			margin-left: 0.5em;
			padding: 0.15em 0.5em 0;
			font-size: 0.8em;
			border: 1px solid #ccc;
		}
		.name:first-child {
			margin-left: 0;
		}
		.term {
			margin-right: 0.5em;
		}
	}
}


/*=====================================================*
 * Element
 *=====================================================*/
.button {
}

.headding {
	text-align: center;
	padding-bottom: 2.5em;
	h1, h2 {
		display: inline-block;
		padding: 0.25em 1.5em;
		border: 3px solid #222;
	}
}

.notice {
	padding: 2.5em 0;
	font-size: 1.25em;
	text-align: center;
	background: #fff;
}
