// main: ../style.less
@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500,700');
//@import url('modules/font-NotoSans.less');
@import url('modules/font-YuGothic.less');

/*=====================================================*
 * initialize
 *=====================================================*/

li {
	list-style: none;
}
.defs {
	display: none;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background: #777;
}
::-webkit-scrollbar-track {
	background: #fff;
}

/*=====================================================*
 * Structure
 *=====================================================*/
html{
	font-size: 62.5%;
  font-weight: normal;
}
body {
  background: #222;
	font-size: 1.6em;
	line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Yu Gothic', YuGothic, Verdana, Meiryo, sans-serif;
  // font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Noto Sans Japanese', Verdana, Meiryo, sans-serif;
}

#wrapper {
  display: flex;
  flex-basis: 250px;
}

header#header {
  flex-grow: 0;
  width: 250px;
  min-width: 250px;
  min-height: 100vh;
  h1 a{
    color: #555;
  }
}

.nav-container {
	ul {
		& > li {
			a {
				display: block;
				padding: 0.75em 1.5em;
				border-bottom: 1px solid #555;
				color: #ddd;
				font-size: 0.8em;
				text-decoration: none;
			}
			ul.nav-children {

			}
		}
	}
}

main#main {
  flex-grow: 1;
  min-height: 100vh;
  width: auto;
  max-width: 1200px;
  background: #fff;
  // border-left: 5px solid #ddd;
}


article.single {
  .hentry {
    position: relative;
    background: #eee;
    padding-top: 4.5rem;
  }
  .entry-header,
  .entry-footer {
    padding: 0 4.5rem;
  }
  .entry-content {
    margin-top: 1.5em;
    padding: 3em 4.5rem;
    background: #fff;
  }
}


.container {
  width: auto;
}

/*=====================================================*
 * List
 *=====================================================*/
.post-list {
  padding: 1em 1.5em;
  border-bottom: 1px solid #ddd;
}


/*=====================================================*
 * Element
 *=====================================================*/
.title {
  width: inherit; height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    font-size: 2.75em;
  }
}

.headding {
  padding: 1em;
  border-bottom: 5px solid #ddd;
}
