// main: ../../style.less
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}
/*=====================================================*
 * initialize
 *=====================================================*/

li {
	list-style: none;
}
.defs {
	display: none;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background: #777;
}
::-webkit-scrollbar-track {
	background: #fff;
}

/*=====================================================*
 * Structure
 *=====================================================*/
html{
	font-size: 62.5%;
  font-weight: normal;
}
body {
  background: #ddd;
	font-size: 1.6em;
	line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Yu Gothic', YuGothic, Verdana, Meiryo, sans-serif;
}
.serif {
  font-family: 'Source Serif Pro', 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'HGP明朝B', serif;
  font-feature-settings : 'pkna';
}

#wrapper {
  display: flex;
  flex-basis: 250px;
}

header#header {
  flex-grow: 0;
  width: 250px;
  min-width: 250px;
  min-height: 100vh;
  h1 a{
    color: #333;
  }
}

main#main {
  flex-grow: 1;
  min-height: 100vh;
  width: auto;
  max-width: 1200px;
  background: #fff;
  // border-left: 5px solid #ddd;
}


article.single {
  padding: 4.5rem;
}


.container {
  width: auto;
}

/*=====================================================*
 * List
 *=====================================================*/
.post-list {
  padding: 1em;
  border-bottom: 1px solid #ddd;
}


/*=====================================================*
 * Element
 *=====================================================*/
 .title {
   position: fixed;
   width: inherit; height: 250px;
   display: flex;
   justify-content: center;
   align-items: center;
   .logo {
     font-size: 2.75em;
   }
 }

.headding {
  padding: 1em;
  border-bottom: 5px solid #ddd;
}
